h6{
    font-size: 16px;
    font-weight: 550;
    color: #4F4F4F;
    font-family: sans-serif;
}

input{
    font-size: 15px;
}

input.ng-invalid.ng-touched
{
  border:1px solid red;
}

.errorDiv
{
	color:rgb(204, 81, 81);
}

::ng-deep .telephone {
    width: 245%;
}

@media only screen and (max-width: 600px) {
    ::ng-deep .telephone {
        width: 120%;
    }
}

.float{
	position:fixed;
	width:125px;
	height:120px;
	bottom:40px;
	right:20px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	margin-top:22px;
}
