h6{
    font-size: 16px;
    font-weight: 550;
    color: #4F4F4F;
    font-family: sans-serif;
}

input{
    font-size: 15px;
}

input.ng-invalid.ng-touched
{
  border:1px solid red;
}

.errorDiv
{
	color:rgb(204, 81, 81);
}
