<section style="background-color: #4791f1; height: auto;padding-top: 40px;padding-bottom: 20px;">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-9">
  
          <h3 class="text-white mb-4">Register New Candidate</h3>
  
          <div class="card" style="border-radius: 15px;">
            <div class="card-body">
              <form (ngSubmit)="onSubmit(form)" #form="ngForm">
              <div class="row align-items-center pt-4 pb-3">
                <div class="col-md-3 ps-5">
  
                  <h6 class="mb-0">Full name : </h6>
  
                </div>
                <div class="col-md-9 pe-5">
  
                  <input type="text" class="form-control form-control-lg" name="fullName" ngModel placeholder="Enter full name" required #nameRef="ngModel"/>
                  <div *ngIf="nameRef.errors?.['required']  && nameRef.touched" class="errorDiv">
                    *Name is required!
                  </div>
                </div>
              </div>

              <hr class="mx-n3">

              <div class="row align-items-center pt-4 pb-3">
                <div class="col-md-3 ps-5">
  
                  <h6 class="mb-0">Email : </h6>
  
                </div>
                <div class="col-md-9 pe-5">
  
                  <input type="email" class="form-control form-control-lg" name="email" ngModel placeholder="Enter email" required
                  email #emailRef="ngModel"/>
                  <div *ngIf="emailRef.errors?.['required']  && emailRef.touched" class="errorDiv">
                    *Email is required!
                  </div>
                  <div *ngIf="!emailRef.valid  && emailRef.touched && emailRef.value!=''" class="errorDiv">
                    *Enter Valid Email Format!
                  </div>
  
                </div>
              </div>

              <hr class="mx-n3">
  
              <div class="row align-items-center py-3">
                <div class="col-md-3 ps-5">
  
                  <h6 class="mb-0">Date Of Birth : </h6>
  
                </div>
                <div class="col-md-9 pe-5">
  
                  <input type="date" class="form-control form-control-lg" name="dob" ngModel placeholder="Enter Date Of Birth" required 
                  #dobRef="ngModel" [max]="getToday()"/>
                  <div *ngIf="dobRef.errors?.['required']  && dobRef.touched" class="errorDiv">
                    *DOB is required!
                  </div>
                </div>
              </div>
  
              <hr class="mx-n3">
              
              <div class="row align-items-center pt-4 pb-3">
                <div class="col-md-3 ps-5">
  
                  <h6 class="mb-0">Telephone : </h6>
  
                </div>
                <div class="col-md-9 pe-5">
                  <input type="text" ng2TelInput (countryChange)="getCountryCode($event)"
                   class="form-control form-control-lg telephone" name="telephone" ngModel required
                    pattern="^[1-9]\d{9}$" #phoneRef="ngModel"/>
                  <div *ngIf="phoneRef.errors?.['required']  && phoneRef.touched" class="errorDiv">
                    *Phone is required!
                  </div>
                  <div *ngIf="!phoneRef.valid  && phoneRef.touched && phoneRef.value!=''" class="errorDiv">
                    *Enter Valid Phone!
                  </div>
  
                </div>
              </div>
                
              <hr class="mx-n3">
  
              <div class="row align-items-center py-3">
                <div class="col-md-3 ps-5">
  
                  <h6 class="mb-0">Address : </h6>
  
                </div>
                <div class="col-md-9 pe-5">
  
                  <textarea class="form-control" rows="3" name="address" ngModel required placeholder="Enter Full Address" #addressRef="ngModel"></textarea>
                  <div *ngIf="addressRef.errors?.['required']  && addressRef.touched" class="errorDiv">
                    *Address is required!
                  </div>
                </div>
              </div>

              <hr class="mx-n3">
  
              <div class="px-5 py-4">
                <button [disabled]="!form.valid" type="submit" class="btn btn-primary btn-lg">Submit Details</button>
                <button (click)=" form.resetForm()" type="button" class="btn btn-danger btn-lg ml-lg-4">Reset</button>
              </div>

            </form>
            </div>
          </div>
  
        <button type="button" class="btn float my-float" style="background-color: #F06528; color: white;">
            <h6 style="color: white;">Session Expires In : <countdown [config]="{ leftTime: 300, format: 'mm:ss' }"></countdown></h6>
        </button>

        </div>
      </div>
    </div>
  </section>
